/* Define Raleway font */
@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.gstatic.com/s/raleway/v19/1Ptug8zYS_SKggPNyC0ISg.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.gstatic.com/s/raleway/v19/1Ptug8zYS_SKggPNyC0ISg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.gstatic.com/s/raleway/v19/1Ptug8zYS_SKggPNyC0ISg.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Define Merriweather font */
@font-face {
  font-family: 'Merriweather';
  src: url('https://fonts.gstatic.com/s/merriweather/v22/u-4k0qyriQwlOrhSvowK_l5O.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('https://fonts.gstatic.com/s/merriweather/v22/u-4k0qyriQwlOrhSvowK_l5O.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('https://fonts.gstatic.com/s/merriweather/v22/u-4k0qyriQwlOrhSvowK_l5O.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Raleway Classes */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.raleway-light {
  font-weight: 300; /* Light weight */
}
.raleway-regular {
  font-weight: 400; /* Regular weight */
}
.raleway-bold {
  font-weight: 700; /* Bold weight */
}
/* Merriweather Classes */
.merriweather {
  font-family: "Merriweather", serif;
  font-style: normal;
}
.merriweather-light {
  font-weight: 300;
}
.merriweather-regular {
  font-weight: 400;
}
.merriweather-bold {
  font-weight: 700;
}