---
import "../styles/fonts.css";
import "../styles/global.css";
import Nav from "../components/Nav";
import MainLayout from "../layouts/MainLayout.astro";
import Intro from "../components/Intro.astro";
---

<MainLayout title="Emmett Forrestel Portfolio">
  <div class="contact-container">
    <div class="contact-item">
        <p>Name: Emmett Forrestel</p>
    </div>
    <div class="contact-item">
        <p>Personal Email: emmettf811@gmail.com</p>
    </div>
    <div class="contact-item">
        <p>School Email: emmett_forrestel@brown.edu</p>
    </div>

    <div class="contact-item">
        <p>Phone: +1 (716)-420-3890</p>
    </div>
  </div>
</MainLayout>

<style>
    .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        width: 100%;
    }
    .contact-item p{
        font-size: 1.25rem;
        font-weight: 400;
    }
</style>
