---
import Aurora from "/AuroraBorealis.jpeg";
import LightColor from "/LightAndColor.jpeg";
import Darial from "/DarialGorge.jpeg";
import RainSteamSpeed from "RainSteamSpeed.jpeg";
import type MainLayout from "../layouts/MainLayout.astro";
---

<div class="mx-6">
  <div class="total">
    <h1 class="font-bold mb-6 mt-12">Papers I've Written:</h1>
    <div class="papers-container">
      <div class="paper-item" data-id="Paper1">
        <h2 class="title">Boulders, Burdens, Mountains, and Meaning</h2>
        <p class="short-desc">Zosima's Happiness in Brothers Karamazov</p>
      </div>
      <iframe
        id="iframe-paper1"
        class="hidden"
        style="width: 100%; height: 80vh; border: none;"></iframe>
      <div class="paper-item" data-id="Paper2">
        <h2 class="title">Darkness and Despair, Love and Light</h2>
        <p class="short-desc">
          Imagery of Light and Darkness in The Brothers Karamazov
        </p>
      </div>
      <iframe
        id="iframe-paper2"
        class="hidden"
        style="width: 100%; height: 80vh; border: none;"></iframe>
    </div>
  </div>
  <div class="performance-container">
    <h1 class="my-12 text-center font-semibold">Songs I've Recorded:</h1>
    <iframe
      id="iframe-video1"
      style="width: 80%; height: 500px; border: none;"
      src="https://www.youtube.com/embed/AZ66X7hB8jI"></iframe>
  </div>
  <h1 class="my-12 text-center font-semibold">My Favorite Books:</h1>
  <div class="flex flex-row">
    <div class="books-col">
      <h2 class="col-text">
        Fyodor Dostoyevsky's <span class="italic">Brothers Karamazov</span>
      </h2>
      <h2 class="col-text">
        Dostoyevsky's <span class="italic">Crime and Punishment</span>
      </h2>
      <h2 class="col-text">
        Ayn Rand's <span class="italic">Atlas Shrugged</span>
      </h2>
      <h2 class="col-text">
        Mikhail Bulgakov's <span class="italic">Master and Margarita</span>
      </h2>
      <h2 class="col-text">
        Dostoyevsky's <span class="italic">Demon's</span>
      </h2>
      <h2 class="col-text">
        James Joyce's <span class="italic">Dubliners </span>
      </h2>
    </div>
    <div class="books-col">
      <h2 class="col-text">
        Viktor Frankl's <span class="italic">Man's Search for Meaning</span>
      </h2>
      <h2 class="col-text">
        Herman Melvilles's <span class="italic">Moby Dick</span>
      </h2>
      <h2 class="col-text">
        Dostoyevsky's <span class="italic">Notes from Underground</span>
      </h2>
      <h2 class="col-text">
        George Orwell's <span class="italic">Animal Farm</span>
      </h2>
      <h2 class="col-text">
        Aldous Huxely's <span class="italic">Brave New World</span>
      </h2>
      <h2 class="col-text">
        Conrad's <span class="italic">Heart of Darkness</span>
      </h2>
    </div>
  </div>
</div>

<script>
  const media = {
    Paper1:
      "https://drive.google.com/file/d/1GC8BcAmw3YHF4aZ4t2HfUV1Wz66w2TBT/preview",
    Paper2:
      "https://drive.google.com/file/d/1xsupbpAiht3fj-y2sP93OhQPL9EP0c2j/preview",
    Video1: "https://www.youtube.com/embed/AZ66X7hB8jI",
  };

  document.querySelectorAll(".paper-item").forEach((item) => {
    item.addEventListener("click", () => {
      const mediaId = item.getAttribute("data-id");
      const mediaFile = media[mediaId];
      const iframe = document.getElementById(
        `iframe-${mediaId.toLowerCase()}`
      ) as HTMLIFrameElement;

      if (mediaFile && iframe) {
        if (iframe.classList.contains("hidden")) {
          // Show the iframe and set the src
          iframe.src = mediaFile;
          iframe.classList.remove("hidden");

          // Hide the other iframes
          document.querySelectorAll("iframe").forEach((frame) => {
            if (frame !== iframe) {
              frame.classList.add("hidden");
              (frame as HTMLIFrameElement).src = ""; // Clear the other iframe's src
            }
          });
        } else {
          // Hide the iframe if it's already visible
          iframe.classList.add("hidden");
          iframe.src = "";
        }
      }
    });
  });
</script>

<style>
  .total {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .books-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 2em;
  }

  .col-text {
    padding: 0.5rem 0;
    text-align: center;
  }

  .papers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 4em;
  }

  .performance-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .paper-item {
    padding: 1em;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  iframe {
    width: 80%;
    height: 70vh;
    border: none;
    margin-top: 1em;
  }
</style>
