---
import Aurora from "/AuroraBorealis.jpeg";
import LightColor from "/LightAndColor.jpeg";
import Darial from "/DarialGorge.jpeg";
import RainSteamSpeed from "RainSteamSpeed.jpeg";
import type MainLayout from "../layouts/MainLayout.astro";
---

<div class="mx-12">
  <h1 class="my-12 text-center text-xl font-bold">My Favorite Books </h1>
  <div class="grid grid-cols-1 gap-24 xl: mx-48 xl:grid-cols-2">
    <div class="flex flex-col items-center justify-center">
        <h1 class="my-12 text-center text-l">
            Dostoyevsky's <span class="italic"> Brothers Karmazov</span>
          </h1>
    <div class="relative group flex justify-center items-center">
      <img
        class="relative z-10 w-3/4 rounded-xl transition-all group-hover:-translate-x-3"
        src="/BK.png"
        alt="BK"
      />
      <div
        class="absolute left-15 top-0 group-hover:translate-x-4 w-3/4 h-full bg-black rounded-xl"
      >
      </div>
    </div>
    <h2 class="text-center my-10">I read this my junior and again for a class in my freshman year at Brown. I imagine by the end of my life it will be my favorite.</h2>
    </div>

    <div class="flex flex-col items-center justify-center">
      <h1 class="my-12 text-center text-l">
        Ayn Rand's <span class="italic">Atlas Shrugged</span>
      </h1>
      <div class="relative group flex justify-center items-center">
        <img
          class="relative z-10 w-2/3 rounded-xl transition-all group-hover:-translate-x-3"
          src="/AtlasShrugged.jpeg"
          alt="AtlasShrugged"
        />
        <div
          class="absolute left-15 top-0 group-hover:translate-x-4 w-2/3 h-full bg-black rounded-xl"
        >
        </div>
      </div>
      <h2 class="text-center my-10">I read this book the summer before my senior year. I tore through the twelve-hundered page behemoth in a week.</h2>
    </div>
    <div class="flex flex-col items-center justify-center">
        <h1 class="my-12 text-center text-l">
            Herman Mellvile's <span class="italic">Moby Dick</span>
          </h1>
    <div class="relative group flex justify-center items-center">
      <img
        class="relative z-10 w-2/3 rounded-xl transition-all group-hover:-translate-x-3"
        src="/MobyDick.png"
        alt="Moby"
      />
      <div
        class="absolute left-15 top-0 group-hover:translate-x-4 w-2/3 h-full bg-black rounded-xl"
      >
      </div>
    </div>
    <h2 class="text-center my-10">I read this book my sophomore year of HS. It was a struggle. With more distance, however, I love it more.</h2>
    </div>

    <div class="flex flex-col items-center justify-center">
        <h1 class="my-12 text-center text-l">
            Fyodor Dostoyevsky's <span class="italic">Crime and Punishment</span>
          </h1>
          <div class="relative group flex justify-center items-center">
            <img
              class="relative z-10 w-3/4 rounded-xl transition-all group-hover:-translate-x-3"
              src="/CAndP.png"
              alt="CandP"
            />
            <div
              class="absolute left-15 top-0 group-hover:translate-x-4 w-3/4 h-full bg-black rounded-xl"
            >
            </div>
          </div>
          <h2 class="text-center my-10">I read this book my junior year of highschool, and it has easily been my favorite since then.</h2>
    </div>
  </div>
</div>
<div class="mt-12 h-6 w-full bg-black"></div>

<style>
  .caption {
    text-align: left;
    font-size: x-large;
  }
</style>
