---
import "../styles/fonts.css";
import "../styles/global.css";
import ProjectHeader from "./projectHeader.astro";
---

<ProjectHeader
  title="PhysicianX"
  subtitle="In summer 2024, I was an initial member of the go-to-market (GTM) team at PhysicianX, I played a pivotal role in shaping the platform from its inception."
/>
<p class="body">
  Drove the development of AI-powered tools, including the <a
    href="https://www.physicianx.com/cv-optimizer">CV Optimizer</a
  > and
  <a href="https://www.physicianx.com/tools">Contract Analyzer</a>, leveraging
  GPT models and PyTorch to deliver critical insights and personalized
  recommendations unique to the platform. Combined advanced machine learning
  techniques, data analytics, and proprietary content to enhance job matching
  and support physician career growth.<br /><br />

  Developed significant portions of the PhysicianX platform, including the <a
    href="https://physicianx.com/career-cost-calculator"
    >Job Offer Cost Calculator</a
  >, from concept to deployment, empowering physicians to make more informed
  career decisions. Led the design and implementation of core platform features
  using Astro, JavaScript, and Figma, ensuring a seamless and intuitive user
  experience across devices.<br /><br />

  Engineered Python scripts for data scraping and analysis, enabling the
  extraction and processing of large datasets to identify actionable insights
  and support data-driven decision-making. Conducted comprehensive data analysis
  to uncover trends and inform product development, helping to optimize platform
  intelligence and enhance user experience.<br /><br />

  Integrated HubSpot for marketing automation, developing targeted email
  campaigns and automating workflows to improve user engagement and retention.
  Crafted personalized communication strategies to guide users through their
  journey, enhancing satisfaction and conversion rates while streamlining
  operational processes.<br /><br />

  Collaborated closely with cross-functional teams and industry experts,
  applying expertise in AI development, data science, and web development to
  support PhysicianX's mission and growth. Developed a deep understanding of
  what it takes to run a tech startup, gaining hands-on experience in product
  development, strategic planning, marketing, and operations from day one.

  <a href="https://physicianx.com/">Check out the site here</a>
</p>

<style>
  .body {
    padding: 0rem 1rem 1rem 1rem;
  }
</style>
