---
import "../styles/fonts.css";
import "../styles/global.css";
import ProjectHeader from "./projectHeader.astro";
---

<ProjectHeader
  title="Boston University RISE: Machine Learning Research"
  subtitle="In summer 2022, I was a student researcher under Professor Alan Liu at Boston University where I conducted research on AI classification on Cancer data."
/>
<p class="body">
  Developed a machine learning model to predict prostate cancer risk in patients
  during a six-week research internship at Boston University through the RISE
  program. Collaborated with Dr. Alan Liu at the Photonics Center and
  independently designed, implemented, and tested multiple models using Python
  and TensorFlow to enhance the algorithm's accuracy and efficiency. <br /><br
  />

  Tackled the challenge of working with a hyper-sparse dataset from a urinary
  protein test, experimenting with various techniques to optimize model
  performance. Navigated the complexities of working independently, which
  strengthened my problem-solving skills and deepened my understanding of
  machine learning applications in healthcare. The project resulted in a
  promising preliminary algorithm with the potential to aid early cancer
  detection.<br /><br />

  Leveraged this experience to ignite my passion for machine learning,
  benefiting from a diverse, intellectually stimulating environment at BU that
  reinforced my drive to explore real-world applications of this technology
  further.<br /><br />
</p>

<style>
  .body {
    padding: 0rem 1rem 1rem 1rem;
  }
</style>
